body
{
    background-color: lavenderblush;
    margin: 0;
}

div, button
{
    position: absolute;
}

button, #texto_start, #texto_warning, #copyright
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 2vw;
    color: white;
    text-shadow:
        0.1vw 0.1vw 0 palevioletred, 
        -0.1vw -0.1vw 0 palevioletred,  
        0.1vw -0.1vw 0 palevioletred, 
        -0.1vw 0.1vw 0 palevioletred;
    text-decoration: none;
}

#pantalla_start, #img_start
{
    background-size: cover;
    background-position: center;
}

#texto_start, #texto_warning, #copyright
{
    text-align: center;
}

#overlay_dark
{
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 2;
}

#pantalla_start
{
    width: 98%;
    height: 98%;
    background-image: url(../images/start_cafe.jpg);
    border-radius: 2rem;
    top: 1%;
    left: 1%;
}

button
{
    width: 12%;
    height: 7%;
    top: 70%;
    left: 44%;
    background-color: lightpink;
    border: 0.2vw solid white;
    border-style: dashed;
    border-radius: 0.3rem;
    cursor: url(../images/gatito_point.png), pointer;    
}

#texto_start
{
    width: 50vw;
    top: 40%;
    left: 25%;
}

#img_start
{
    top: 12%;
    left: 40%;
    width: 20vw;
    height: 32vh;
    background-image: url(../images/cafe_owner.png);
}

#texto_warning
{
    display: none;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    z-index: 3;
    font-size: 32px;
}

#texto_warning > p
{
    width: 70%;
}

#copyright
{
    width: 70vw;
    top: 80%;
    left: 14.5%;
    font-size: 1.5vw;
}