/* Aviso para dispositivos que no sean portátiles u ordenadores*/

@media not all and (min-width: 1090px) and (min-height: 600px) and (hover: hover) and (pointer: fine)
{
    button, #img_start, #texto_start, #copyright
    {
        display: none;
    }

    #texto_warning
    {
        display: flex;
    }

    #overlay_dark
    {
        display: block;
    }
}